<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #cont{
            margin:auto;
            margin-top:100px;
            width: 300px;
            height: 300px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        }
    </style>
</head>
<body>
    <div id="cont">
            <h3>Name:- {{blog.name}}</h3>
            <h3>Author:- {{blog.author}} </h3>
            <p>Desc:-{{blog.desc}} </p>
    </div>
    
</body>
</html>